{
  "providers": {
    "zhichuang": {
      "baseUrl": "https://s.lconai.com/v1",
      "apiKey": "{{API_KEY_zhichuang}}",
      "api": "openai-completions",
      "models": [
        {
          "id": "gpt-5.4-high",
          "name": "GPT-5.4 High",
          "reasoning": true,
          "input": [
            "text"
          ],
          "cost": {
            "input": 1.25,
            "output": 7.5
          },
          "contextWindow": 128000,
          "maxTokens": 32000
        },
        {
          "id": "claude-opus-4-6-thinking",
          "name": "Claude Opus 4.6 Thinking",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "cost": {
            "input": 2.5,
            "output": 12.5
          },
          "contextWindow": 200000,
          "maxTokens": 64000
        }
      ]
    },
    "zhichuang-lite": {
      "baseUrl": "https://s.lconai.com/v1",
      "apiKey": "{{API_KEY_zhichuang_lite}}",
      "api": "openai-completions",
      "models": [
        {
          "id": "gemini-3.1-pro-preview",
          "name": "Gemini 3.1 Pro Preview",
          "reasoning": false,
          "input": [
            "text"
          ],
          "cost": {
            "input": 0.2,
            "output": 0.6
          },
          "contextWindow": 200000,
          "maxTokens": 8192
        }
      ]
    },
    "aliyun-bailian": {
      "baseUrl": "https://coding.dashscope.aliyuncs.com/v1",
      "apiKey": "{{API_KEY_aliyun_bailian}}",
      "api": "openai-completions",
      "models": [
        {
          "id": "kimi-k2.5",
          "name": "kimi-k2.5 (Custom Provider)",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          },
          "contextWindow": 256000,
          "maxTokens": 32000
        },
        {
          "id": "MiniMax-M2.5",
          "name": "MiniMax M2.5",
          "reasoning": true,
          "input": [
            "text"
          ],
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          },
          "contextWindow": 256000,
          "maxTokens": 32000
        },
        {
          "id": "qwen3.5-plus",
          "name": "Qwen3.5 Plus",
          "reasoning": false,
          "input": [
            "text",
            "image"
          ],
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          },
          "contextWindow": 256000,
          "maxTokens": 32000
        }
      ]
    },
    "codex": {
      "baseUrl": "https://chatgpt.com/backend-api",
      "auth": "token",
      "api": "openai-codex-responses",
      "models": [
        {
          "id": "gpt-5.4",
          "name": "gpt-5.4",
          "api": "openai-codex-responses",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          },
          "contextWindow": 272000,
          "maxTokens": 128000,
          "compat": {
            "supportsReasoningEffort": true,
            "supportsUsageInStreaming": true
          }
        },
        {
          "id": "gpt-5.4-mini",
          "name": "GPT-5.4-Mini",
          "api": "openai-codex-responses",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          },
          "contextWindow": 272000,
          "maxTokens": 128000,
          "compat": {
            "supportsReasoningEffort": true,
            "supportsUsageInStreaming": true
          }
        },
        {
          "id": "gpt-5.2",
          "name": "gpt-5.2",
          "api": "openai-codex-responses",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          },
          "contextWindow": 272000,
          "maxTokens": 128000,
          "compat": {
            "supportsReasoningEffort": true,
            "supportsUsageInStreaming": true
          }
        }
      ]
    },
    "newapi_channel_conn": {
      "baseUrl": "https://aixor.org/v1",
      "apiKey": "{{API_KEY_newapi_channel_conn}}",
      "api": "openai-completions",
      "models": [
        {
          "id": "gpt-5.4",
          "name": "GPT-5.4",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          },
          "contextWindow": 128000,
          "maxTokens": 32000
        }
      ]
    }
  }
}
